# Core dependencies
requests==2.32.5
huggingface-hub==0.35.1
transformers==4.56.2
tqdm==4.67.1
GitPython==3.1.45

# Dev / testing tools
pytest==8.4.2
flake8==7.3.0
mypy==1.18.1
types-requests==2.32.4.20250913
